.style-contenedor {
  display: flex;

  .style-left {
    width: 85%;
    white-space: pre-wrap;

    img {
      height: 500px;
    }
  }

  .style-right {
    width: 15%;
    display: flex;
    flex-direction: column;

    .style-pecio {
      font-size: 45px;

      &::before {
        content: "$";
        padding: 10px;
      }
      &::after {
        content: "00";
        font-size: 14px;
        vertical-align: super;
        padding: 3px;
      }
    }
    button {
      $button-color: rgb(17, 104, 235);
      width: 100%;
      padding: 10px;
      margin-top: 50px;
      background-color: $button-color;
      color: #fff;
      border: none;
      font-size: 18px;
      border-radius: 3px;

      &:hover {
        background-color: darken($button-color, 5%);
        cursor: pointer;
      }
    }
  }
}
