.product {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 20px 0;



  .style-derecha {
    display: flex;

    img {
      width: 150px;
      padding: 10px;
    }

    .style1 {
      h3 {
        font-size: 2em;
        font-weight: 250;
        padding: 5px;

        &::before {
          content: "$";
          padding: 15px;
        }

        .style-icono {
          font-size: 7px;
          vertical-align: super;
          padding: 5px;
          border-radius: 50%;
          background-color: green;
          color: #fff;
          margin: 5px;
        }
      }
      p {
        padding-left: 20px;
      }
    }
  }
}
